.btn {
    border: none;
    border-radius: 5px;
    background-color: #31AFD4;
    &:hover {
        background-color: #3cbee6;
    }
}

.btn-delete {
    background-color: #9a2c39;
    color: #efefef;
    &:hover {
        background-color: #b0424f;
        color: #efefef;
    }
}

.user-pagination {
    display: flex;
    justify-content: center;
    .pagination {
        .active>.page-link, .page-link.active {
            background-color: #31AFD4;
            border-color: #31AFD4;
            color: #efefef;;
        }
        
        .page-link {
            color: #31AFD4;
        
            &:hover {
                color: #31AFD4;
                background-color: #dee2e6;
            }
        }
    }
}

