.login-container {
    .header {
        height: 45px;
        display: flex;
        align-items: center;
        justify-content: flex-end;

        .btn-signup {
            margin: 0 10px;
        }
    }

    .title {
        font-size: 35px;
        font-weight: 500;
        padding: 20px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;

        .underline-title {
            background-color: #31AFD4;
            width: 70%;
            height: 5px;
            border: none;
            margin-top: 0;
        }
    }

    .welcome {
        font-size: 20px;
        padding-bottom: 20px;
        text-align: center;
    }

    .content-form {
        .form-group {
            position: relative;

            svg {
                height: 1.3em;
                width: 1.3em;
                color: #31AFD4;
                position: absolute;
                bottom: 8px;
                right: 0.75rem;
                cursor: pointer;

                &:hover {
                    color: #3cbee6;
                }
            }
        }
        .btn-container {
            display: flex;
            justify-content: center;
            .btn {
                margin: 20px 0;
                width: 25%;

                &:disabled {
                    background-color: #ccc;
                    cursor: no-drop;
                }

                .loader-icon {
                    margin: 0 5px 3px 0;
                    animation: spin 1s infinite linear;
                }

                @keyframes spin {
                    from {
                        transform: scale(1) rotate(0deg);
                    }
                    to {
                        transform: scale(1) rotate(360deg);
                    }
                }
            }
        }

        input {
            margin: 3px 0 10px;
        }

        .back {
            span {
                display: flex;
                justify-content: center;
                cursor: pointer;
            }
        }
        
    }
}